@CHARSET "UTF-8";

#ball
{
	position: absolute;
	width: 3em;
	left: 43.5%;
	bottom: 46%;
	
}

#level
{
	
	
}

#home,#level
{
	height: 90%;
	
}

#home
{
	background-image: url('images/football_pitch.jpg');
	background-size: 100% 100%;
	height: 100%;
	position: absolute;
}
